.col-sm{
    background-color: rgb(250, 252, 252);
    border-radius: 10px;
    box-shadow: inset;
}


.tab-pane{
    background-color: #FAFCFC;
    width:1180px;
    border-radius: 10px; 
}
.nav{
    background-color: #FAFCFC;
    
}