.header{   
    background-color: rgb(223, 161, 244);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   
.nav-item{
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    
}

.anchorTag{
    color: #a0fdec;
    text-decoration: none;
}

.bg-image{
    
  background-repeat: no-repeat;
  object-fit: fill;
  
}
.product{
    color: rgb(240, 133, 133);
}

